@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Archivo", sans-serif;
    font-style: normal;
  }
  p {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
}

@layer components {
  /* Nav */
  .sidepanel {
    height: 500px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #e8e1d1; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }

  /* The sidepanel links */
  .sidepanel a,
  .subnavbtn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #6432c9;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #ff6434;
  }

  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* Style the button that is used to open the sidepanel */
  .openbtn {
    position: fixed; /* Stay in place */
    /* Stay on top */
    top: 20px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: none;
    color: white;
    padding: 10px 15px;
    border: none;
    place-self: end end;
  }

  .openbtn img {
    height: 35px;
  }
  .closebtn img {
    z-index: 2;
    height: 35px;
  }

  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }

  /* Subnav button */

  /* Add a red background color to navigation links on hover */
  a:hover,
  .subnav:hover .subnavbtn {
    color: #ff6434;
  }

  /* Style the subnav content - positioned absolute */
  .subnav-content {
    position: absolute;
    left: 0;
    background-color: none;
    width: 100%;
    z-index: 1;
  }

  /* Style the subnav links */
  .subnav-content a {
    margin-left: 20px;
    color: #6432c9;
    text-decoration: none;
    font-size: 20px;
  }

  /* Add a grey background color on hover */
  .subnav-content a:hover {
    color: #ff6434;
  }

  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }
}
